.polygons-list {
  a, a:before {
    transition: all .4s;
  }
  a.selected {
    background-color: #d3edf9;
  }
  div {
    max-width: 500px;
    margin: 2em auto;
  }
  div:hover a {
    opacity: .4;
  }
  a {
    cursor: pointer;
    position: relative;
    display: block;
    max-width: 500px;
    padding: 20px 20px 20px 45px;
    box-sizing: border-box;
    color: #777;
    background: #fAfAfA;
    text-decoration: none;
    font-family: "Open Sans", "Segoe UI", Arial, sans-serif;
  }
  a:before {
    content: "";
    position: absolute;
    left:0; bottom:0; top:0;
    width: 20px;
    background: #7F8C9A;
  }
  a:nth-child(even):before {
    background: #34495E;
  }
  a + a {
    border-top: 2px solid #ededed;
  }
  div a:hover,
  div a:focus {
    opacity: 1;
    padding-left: 55px;
  }
  div a:hover:before,
  div a:focus:before {
    width: 30px;
  }
}
